{
  "trailingComma": "all",
  "printWidth": 96,
  "semi": true,
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss",
    "@ianvs/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    ".css$",
    "",
    "<TYPES>^(node:)",
    "<TYPES>",
    "<TYPES>^\\$(app|lib)/(.*)",
    "<TYPES>^[./]",
    "",
    "^virtual:(.*)",
    "",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "",
    "^\\$(app|lib)/(.*)",
    "^[./]"
  ],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte",
        "svelteStrictMode": true,
        "bracketSameLine": true
      }
    },
    {
      "files": "*.md",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
